<% if (success && success.length > 0) { %>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= success[0] %>
  <!-- First message only -->

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<!-- error includes -->

<% if (error && error.length > 0) { %>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= error[0] %>
  <!-- First error message only -->

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
